{% extends "layout.html" %}

{% block pageTitle %}
  DC Operations - Email list
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}

<!-- <script src="/public/javascripts/tt.js"></script> -->

<a id="backlink" href="#" class="govuk-back-link">Back</a>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Manage distribution list</h1>
    

    <div class="flex space-between">
    <p><a class="govuk-button govuk-button--secondary" href="new-mailing-list">Add a new list</a>&nbsp &nbsp &nbsp<a class="govuk-button govuk-button--secondary" href="add-recipient">Add new recipients</a>&nbsp &nbsp &nbsp<a class="govuk-button govuk-button--secondary" href="manage-emails">Manage emails</a></p>
    <div>
      
      <!-- <a class="govuk-link govuk-!-font-size-19" href="manage-mailing-list">Manage lists</a> -->
    </div>
  </div>

  <!-- <h2 class="govuk-heading-m">DCT mailing list</h2> -->
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__value">
        DCT
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="DCT-mail-list">
          Manage list<span class="govuk-visually-hidden"> Manage DCT list</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__value">
        Management
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">
          Manage list<span class="govuk-visually-hidden"> Manage management list</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__value">
        Apprenticeships
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">
          Manage list<span class="govuk-visually-hidden"> Manage apprenticeship list</span>
        </a>
      </dd>
    </div>




  </dl>

    

    



    <!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          name.surname@education.gov.uk
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="remove-recipient">
            Remove<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          ian.tress@education.gov.uk
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Remove<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          karyn.reidy@education.gov.uk
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Remove<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          lynne.burdon@education.gov.uk
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Remove<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>


    </dl> -->

  </div>
</div>












{% endblock %}
