{% extends "layout.html" %}

{% block pageTitle %}
  DC Operations - File submitted
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}

<a id="backlink" href="#" class="govuk-back-link">Back</a>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            File uploaded successfully
          </h1>
          <div class="govuk-panel__body">
            {{ data['input-autocomplete'] }}
            <!-- <br><strong>HDJ2123F</strong> -->
          </div>
        </div>

        <p class="govuk-body">We have sent {{ data['input-autocomplete'] }} a confirmation email.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          We’ve sent your application to Hackney Electoral Register Office.
        </p>
        <p class="govuk-body">
          They will contact you either to confirm your registration, or to ask for more information.
        </p>

        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>


  </div>
</div>








{% endblock %}
