{% extends "layout.html" %}

{% block pageTitle %}
  DC Operations - Email list
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}

<!-- <script src="/public/javascripts/tt.js"></script> -->

<a id="backlink" href="#" class="govuk-back-link">Back</a>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">DCT mailing list</h1>
    

    

  <!-- <h2 class="govuk-heading-m">DCT mailing list</h2> -->
  


    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <a href="edit-recipient">name.surname@education.gov.uk</a>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="remove-recipient">
            Remove<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
            <a href="#">ian.tress@education.gov.uk</a>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Remove<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
            <a href="#">karyn.reidy@education.gov.uk</a>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Remove<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
            <a href="#">lynne.burdon@education.gov.uk</a>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Remove<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>


    </dl>

      <a href="#" class="govuk-button govuk-button--warning">Delete mailing list</a>

  </div>
</div>












{% endblock %}
