{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}

<a id="backlink" href="#" class="govuk-back-link">Back</a>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Collection paused
          </h1>
          <div class="govuk-panel__body">
            R06
            <!-- <br><strong>HDJ2123F</strong> -->
          </div>
        </div>

        <p class="govuk-body">You can resume the collection from the <a href="manage-ILR">ILR standard page</a> in Collections</p>

        
  </div>
</div>








{% endblock %}
