{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a id="backlink" href="#" class="govuk-back-link">Back</a>
  </div>
  <div class="govuk-grid-column-one-third">
    <br>
      {% include "./includes/search.html" %}
      {% include "./includes/auto-js.html" %}
  </div>
</div>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">What would you like to do?</h1>
  </div>

</div>












{% endblock %}
