<div class="standard-search">

    <span class="govuk-heading-s govuk-!-margin-bottom-2">Search by rule name</span>
    <form class="govuk-form-group" action="validation-message-1920-search">
      <!-- <input class="govuk-input" id="name" name="name" type="text" placeholder="e.g. Manchester or 123456"> -->
      <div id="tt-overlay-rules" class="autocomplete-wrapper"></div>
      <div class="vertical-divider" style=""></div>
      <select class="govuk-select" id="validation-message-period" name="validation-message-period">
        <option value="2020-21" selected>2020-21</option>
        <option value="2019-20">2019-20</option>
        <option value="2018-19">2018-19</option>
      </select>
      <button id="searchRules" type="search" class="govuk-button" ><img src="https://assets.publishing.service.gov.uk/frontend/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png"></img></button>
    </form>

</div>
