{% extends "layout.html" %}

{% block pageTitle %}
  DC Operations
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}

<!-- <script src="/public/javascripts/tt.js"></script> -->
<a id="backlink" href="#" class="govuk-back-link">Back</a>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Period end reports
    <span class="govuk-caption-l">R06 closed on 22-07-19 at 18:05
      <!-- <a href="manage-R06">Close collection</a> -->
    </span>
    </h1>
  </div>
</div>



<div class="govuk-grid-row">



  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">

          <th class="govuk-table__header" scope="col">Report name</th>
          <th class="govuk-table__header" scope="col">Download</th>



        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Report number 1</td>
          <td class="govuk-table__cell"><a href="#">File name</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Report number 2</td>
          <td class="govuk-table__cell"><a href="#">File name</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Report number 3</td>
          <td class="govuk-table__cell"><a href="#">File name</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Report number 4</td>
          <td class="govuk-table__cell"><a href="#">File name</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Report number 6</td>
          <td class="govuk-table__cell"><a href="#">File name</a></td>
        </tr>

      </tbody>
    </table>







  </div>
</div>








{% endblock %}
