{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}

<!-- <script src="/public/javascripts/tt.js"></script> -->

<a id="backlink" href="#" class="govuk-back-link">Back</a>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-panel govuk-panel--confirmation">

          <div class="govuk-panel__body ">
            You've added <br><strong>ian.tress@education.gov.uk</strong>
          </div>
        </div>



        <p class="govuk-body">
          <a href="email-dist" class="govuk-link">Manage email distribution lists</a>
        </p>
        <p class="govuk-body">
          <a href="period-end" class="govuk-link">Period end</a>
        </p>

  </div>
</div>












{% endblock %}
