{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}

<!-- <script src="/public/javascripts/tt.js"></script> -->

<a id="backlink" href="#" class="govuk-back-link">Back</a>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Application versions
    <span class="govuk-caption-xl">RO6 closed 22 April 2019 at 18.05</span>
    </h1>



  </div>
</div>



<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <table class="govuk-table">


      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">File validation service</th>
          <td class="govuk-table__cell">R2091223.03</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Validation service</th>
          <td class="govuk-table__cell">R2091223.02</td>
        </tr>
        
      </tbody>
    </table>



  </div>
</div>








{% endblock %}
