{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}

<script src="/public/javascripts/tt.js"></script>


<div class="app-masthead">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-heading-s govuk-!-font-size-27 white-text">Search for a provider</span>
      <form class="govuk-form-group" action="provider-record">
        <!-- <input class="govuk-input" id="name" name="name" type="text" placeholder="e.g. Manchester or 123456"> -->
        <div id="tt-overlay" class="autocomplete-wrapper"></div>
        <button id="searchProviders" type="search" class="govuk-button" ><img src="https://assets.publishing.service.gov.uk/frontend/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png"></img></button>
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <a href="advanced-search-v2">Advanced search</a>
        <a href="add-new-provider">Add a new provider</a>
    </div>
  </div>
</div>

<!-- <label for="autocomplete-overlay">Select your country</label> -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-m">Data Collections</span>
      Health check
    </h1>
  </div>

  <div class="govuk-grid-column-one-third">
    <section class="info">
      <span class="govuk-heading-m no-margin-bottom">Average processing time</span>
      <h2 class="govuk-heading-xl no-margin-bottom govuk-teal"><span id="average">0</span> mins</h2>
      <span class="govuk-body-s">9:24am</span>
    </section>
  </div>
</div>



<div class="govuk-grid-row" >


  <div class="govuk-grid-column-one-third">
    <section class="margin-bottom">
      <h2 class="govuk-heading-m centre-text"><a href="jobs-processing">Jobs processing</a></h2>
      <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <circle id="first" class="circle-chart__circle" stroke-width="3" stroke-dasharray="30,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <g class="circle-chart__info">
          <text class="circle-chart__percent counter" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" id="firstDonut" data-count="">0</text>
          <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">Looking good</text>
        </g>
      </svg>
    </section>
  </div>

  <div class="govuk-grid-column-one-third">
    <section class="margin-bottom">
      <h2 class="govuk-heading-m centre-text"><a href="jobs-queued">Jobs queued</a></h2>
      <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <circle id="second" class="circle-chart__circle" stroke-width="3" stroke-dasharray="30,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <g class="circle-chart__info">
          <text class="circle-chart__percent counter" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" id="secondDonut" data-count="">0</text>
          <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">Needs attention</text>
        </g>
      </svg>
    </section>
  </div>

  <div class="govuk-grid-column-one-third">
    <section class="margin-bottom">
      <h2 class="govuk-heading-m centre-text"><a href="#">Submissions / 5 mins</a></h2>
      <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <circle id="third" class="circle-chart__circle" stroke-width="3" stroke-dasharray="30,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <g class="circle-chart__info">
          <text class="circle-chart__percent counter" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" id="thirdDonut" data-count="">0</text>
          <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">Urgent attention</text>
        </g>
      </svg>
    </section>
  </div>

    <!-- <div class="govuk-grid-column-one-third">
    <section>
      <h2>Positive chart value</h2>
      <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
        <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="30,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
        <g class="circle-chart__info">
          <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8">30%</text>
          <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">Yay 30% progress!</text>
        </g>
      </svg>
    </section>


  </div> -->
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Red zone</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="border-top">
      <h2 class="govuk-heading-m"><a class="" href="failed-today">Failed today</a></h2>
      <span class="govuk-heading-l no-margin-bottom">4</span>
      <!-- <span class="govuk-body-s">Expected reports not generated</span> -->
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="border-top">
      <h2 class="govuk-heading-m"><a class="" href="slow-files">Slow files</a></h2>
      <span class="govuk-heading-l no-margin-bottom">16</span>
      <span class="govuk-body-s">Taking 20% longer than usual</span>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="border-top">
      <h2 class="govuk-heading-m"><a class="" href="concerns">Concerns</a></h2>
      <span class="govuk-heading-l no-margin-bottom">3</span>
      <span class="govuk-body-s">Providers with rejected files and no successful submission this period</span>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Processing in detail</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="border-top">
      <h2 class="govuk-heading-m"><a class="" href="#">Today</a></h2>
      <span class="govuk-heading-l no-margin-bottom">40</span>
      <!-- <span class="govuk-body-s">Expected reports not generated</span> -->
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="border-top ">
      <h2 class="govuk-heading-m"><a class="" href="#">Last hour</a></h2>
      <span class="govuk-heading-l no-margin-bottom">7</span>
      <!-- <span class="govuk-body-s">51 jobs on hold</span> -->
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="border-top ">
      <h2 class="govuk-heading-m"><a class="" href="#">Jobs on hold</a></h2>
      <span class="govuk-heading-l no-margin-bottom">18</span>
      <!-- <span class="govuk-body-s">51 jobs on hold</span> -->
    </div>
  </div>
</div>

<div class="govuk-grid-row">



</div>


  <!-- <div class="govuk-grid-column-one-third">
    <div class="grey-button">
      <h3 class="govuk-heading-s"><a class="" href="#">16 Servers in use</a></h3>
      <span class="govuk-heading-xl no-margin-bottom"></span>
      <span class="govuk-body-s">9:24am</span>
    </div>

    <div class="grey-button">
      <h3 class="govuk-heading-s"><a class="" href="#">2 Unsubmitted at deadline</a></h3>
      <span class="govuk-heading-xl no-margin-bottom"></span>
      <span class="govuk-body-s">Wednesday 16 January 2019</span>
    </div>
  </div> -->






 {% include "./includes/auto-js.html" %}

{% endblock %}
