{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a id="backlink" href="#" class="govuk-back-link">Back</a>
  </div>
  <div class="govuk-grid-column-one-third">
    <br>
      {% include "./includes/search.html" %}
      {% include "./includes/auto-js.html" %}
  </div>
</div>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

       <h1 class="govuk-heading-xl">Manage assignments <span class="govuk-caption-l">{{ data['input-autocomplete'] }}</span></h1>

       <!-- <p class="assignment-links"><a class="govuk-link" href="#">Submit another file</a> <a class="govuk-link" href="#">Manage assignments</a> <a class="govuk-link" href="#">Amend Provider name</a></p> -->
  </div>
</div>

<div class="govuk-grid-row">




  <div class="govuk-grid-column-two-thirds">
    <div id="1" class="active-assignments">
      <p class="govuk-heading-s">Active</p>


      <span id="noActive" class="govuk-body hidden">No active assignments</span>


      <section class="assigned">
        <p class="govuk-body">ILR Standard 18/19 <span class="remove-link"><a href="manage-assignments-remove">Remove</a></span><br>
          <span class="start-date">Start date: 11-01-2019</span><br>
          <span class="end-date"></span>
        </p>
        <hr>
      </section>



      <section class="assigned3 ">
        <p class="govuk-body">EAS 18/19 <span class="remove-link"><a  href="manage-assignments-remove">Remove</a></span><br>
          <span class="start-date3">Start date: 21-01-2019</span><br>
          <span class="end-date3"></span>
        </p>
        <hr>
      </section>






        <!-- <p><a href="manage-assignments-new"  class="govuk-link">Add more assignments</a></p> -->


    </div>

    <br><br>
    <div class="active-assignments">
      <p class="govuk-heading-s">Available to add</p>

      <section class="assigned4">
        <p class="govuk-body">ILR Standard 19/20 <span class="remove-link"><a  href="manage-assignments-add">Add</a></span><br></p>
        <hr>
      </section>

      <section class="assigned4">
        <p class="govuk-body">ILR Periodic 18/19 <span class="remove-link"><a  href="manage-assignments-add">Add</a></span><br></p>
        <hr>
      </section>

      <section class="assigned4">
        <p class="govuk-body">ILR Periodic 19/20 <span class="remove-link"><a  href="manage-assignments-add">Add</a></span><br></p>
        <hr>
      </section>

      <section class="assigned4">
        <p class="govuk-body">ESF 19/20 <span class="remove-link"><a  href="manage-assignments-add">Add</a></span><br></p>
        <hr>
      </section>

      <section class="assigned4">
        <p class="govuk-body">ESF 18/19 <span class="remove-link"><a  href="manage-assignments-add">Add</a></span><br></p>
        <hr>
      </section>

      <section class="assigned5">
        <p class="govuk-body">FIS Access <span class="remove-link"><a  href="manage-assignments-add">Add</a></span><br></p>
      </section>
    </div>

    

</div>




</div>








{% endblock %}
