{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="main-nav">
  <a class="govuk-heading-s" href="dashboard">Activity</a>
  <a class="govuk-heading-s" href="manage-collections">Collections</a>
  <!-- <a class="govuk-heading-s" href="#">Provider(s)</a> -->

</div>
<a href="provider-record" class="govuk-back-link">Back</a>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

       <h1 class="govuk-heading-xl">Amend provider name</h1>

       <!-- <p class="assignment-links"><a class="govuk-link" href="#">Submit another file</a> <a class="govuk-link" href="#">Manage assignments</a> <a class="govuk-link" href="#">Amend Provider name</a></p> -->
       <a href="#" class="govuk-button">Apply changes</a>
       <a href="provider-record" class="govuk-link">Cancel</a>
  </div>
</div>


{% endblock %}
