<!-- <script src="/public/javascripts/tt.js"></script> -->

<div class="main-nav">
  <a id="1" class="govuk-heading-s" href="dashboard">Home</a>
  <a id="2" class="govuk-heading-s" href="manage-collections">Collections</a>
  <a id="3" class="govuk-heading-s" href="notifications">Notifications</a>
  <a id="4" class="govuk-heading-s flex" href="period-end">Period end <span class="red-dot">1</span></a>
  <a id="5" class="govuk-heading-s flex" href="upload-reports">FRM reports<span class="red-dot">1</span></a>
  <a id="6" class="govuk-heading-s flex" href="rule-validation-search">Rule validation 
    <!-- <span class="red-dot">3</span> -->
  </a>
</div>
