{% extends "layout.html" %}

{% block pageTitle %}
  DC Operations - Collection closed
{% endblock %}


{% block content %}



{% include "./includes/nav.html" %}


<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You've changed the closing date for ILR R06
      </h1>
      <div class="govuk-panel__body">
        It will now close on
        <br><strong>4 July at 6.25pm</strong>
      </div>
    </div>

    <!-- <p class="govuk-body">We have sent you a confirmation email.</p> -->

    <!-- <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      We’ve sent your application to Hackney Electoral Register Office.
    </p>
    <p class="govuk-body">
      They will contact you either to confirm your registration, or to ask for more information.
    </p>

    <p class="govuk-body">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p> -->
    <a href="period-end-part-2" class="govuk-button">Go to period end</a>
    <p><a href="period-end-v2" class="govuk-link">Go to period end preparation</a></p>
  </div>

  <div class="govuk-grid-column-one-third">
      {% include "./includes/search.html" %}
      {% include "./includes/auto-js.html" %}
  </div>
</div>


{% endblock %}
