{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}

<!-- <script src="/public/javascripts/tt.js"></script> -->

<a id="backlink" href="#" class="govuk-back-link">Back</a>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Name your new mailing list</h1>

    <div class="govuk-form-group">

      <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
    </div>

    <a class="govuk-button" href="email-dist">Add</a>

  </div>
</div>












{% endblock %}
