{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}

<a id="backlink" href="#" class="govuk-back-link">Back</a>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Period end
    <span class="govuk-caption-xl">RO6 stage 2</span>
    </h1>

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Job</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col">Details</th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Summarisation</td>
          <td class="govuk-table__cell">Complete</td>
          <td class="govuk-table__cell"><a href="#">View log</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">DAS period end</td>
          <td class="govuk-table__cell">Complete</td>
          <td class="govuk-table__cell"><a href="#">View log</a></td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Apps summarisation</td>
          <td class="govuk-table__cell">Complete</td>
          <td class="govuk-table__cell"><a href="#">View log</a></td>
        </tr>

      </tbody>
    </table>

    <a href="period-end-stage-3" aria-disabled="true" class="govuk-button">
      Start period end stage 3
    </a>
  </div>
</div>








{% endblock %}
