{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}



{% include "./includes/nav.html" %}

<a id="backlink" href="#" class="govuk-back-link">Back</a>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

     <h1 class="govuk-heading-xl">Provider’s details</h1>
  </div>


</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

       <div class="govuk-form-group">
         <label class="govuk-label" for="name">
           Enter the provider’s name
         </label>
         <input class="govuk-input govuk-input--width-20" id="provider-name" name="provider-name" value="{{ data['provider-name'] }}" type="text">
       </div>

       <div class="govuk-form-group">
          <label class="govuk-label" for="name">
          Enter the provider’s UKPRN
          </label>
          <input class="govuk-input govuk-input--width-20" id="UKPRN" name="UKPRN" type="text">
        </div>

        <div class="govuk-form-group">
           <label class="govuk-label" for="name">
           Enter the provider’s UPIN
           </label>
           <input class="govuk-input govuk-input--width-20" id="UPIN" name="UPIN" type="text">
         </div>



       <a href="manage-assignments-new" class="govuk-button">Save and continue</a>
       <a href="dashboard" class="govuk-link">Cancel</a>
  </div>
</div>


{% endblock %}
