{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-grid-row blue">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Testing graphs
    </h1>

    <ul class="table">
      <li>
        <svg class="donut" xmlns="http://www.w3.org/2000/svg" data-value="17%">
          <path class="circle" d="M100,50c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50
      	S72.4,50,100,50"/>
          <path class="move" d="M100,50c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50
      	S72.4,50,100,50"/>
          <text x='50%' y='50%' dy=".375em"></text>
        </svg>
      </li>
        <li>
        <svg class="donut" xmlns="http://www.w3.org/2000/svg" data-value="54%">
          <path class="circle" d="M100,50c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50
      	S72.4,50,100,50"/>
          <path class="move" d="M100,50c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50
      	S72.4,50,100,50"/>
          <text x='50%' y='50%' dy=".375em"></text>
        </svg>
      </li>
        <li>
        <svg class="donut" xmlns="http://www.w3.org/2000/svg" data-value="81%">
          <path class="circle" d="M100,50c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50
      	S72.4,50,100,50"/>
          <path class="move" d="M100,50c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50
      	S72.4,50,100,50"/>
          <text x='50%' y='50%' dy=".375em"></text>
        </svg>
      </li>
    </ul>



</div>
</div>




{% endblock %}
