{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <br>
      <br>
      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <table class="govuk-table">
   <caption class="govuk-table__caption visually-hidden">List of versions</caption>
   <thead class="govuk-table__head">
     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="col">Version</th>
 		<th class="govuk-table__header" scope="col">Updates</th>
       <th class="govuk-table__header" scope="col" colspan="2">Contents</th>
     </tr>
   </thead>
   <tbody class="govuk-table__body">

     <tr class="govuk-table__row">
         <th class="govuk-table__header" scope="row">Ready Salted 1.8.7<p>07/02/2020</p></th>
         <td class="govuk-table__cell ">
           <p>Prototype - in progress 24/02/2020</p>
           <ul class="govuk-list govuk-list--bullet">
             <li>Added <a href="1-8-7/dashboard">Reference data</a> feature and added link on primary navigation  </li>
           </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-8-7/dashboard">Start now</a></td>
       </tr>

     <tr class="govuk-table__row">
         <th class="govuk-table__header" scope="row">Ready Salted 1.8.6<p>07/02/2020</p></th>
         <td class="govuk-table__cell ">
           <p>Prototype - in progress 12/02/2020</p>
           <ul class="govuk-list govuk-list--bullet">
             <li><a href="1-8-6/search-providers">Providers</a> section added to manage providers</li>
             <li><a href="1-8-6/dashboard">Removed Home </a> link from primary navigation and added providers link  </li>
             <li><a href="1-8-6/dashboard">Updated Dashboard</a> added bar charts representation of Queues, Topics and ILR </li>
           </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-8-6/dashboard.html">Start now</a></td>
       </tr>


      <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Ready Salted 1.8.5<p>22/10/2019</p></th>
          <td class="govuk-table__cell ">
            <p>Alpha - in progress 22/10/2019</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="1-8-5/upload-reports">FRM reports</a> journey updated and QAR removed</li>
              <li><a href="1-8-5/email-dist">Bulk email address upload</a> added</li>
              <li><a href="1-8-5/confirm-provider-details">Confirmation page</a> updated</li>
              <li><a href="1-8-5/manage-assignments-new">FIS checkbox</a> removed as will be available for everyone</li>
              <li><a href="1-8-5/period-end-part-2">Current running job</a> UI updated</li>

            </ul>
          </td>
          <td class="govuk-table__cell "><a href="#">Contents</a></td>
          <td class="govuk-table__cell "><a href="1-8-5/dashboard.html">Start now</a></td>
        </tr>



    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Ready Salted 1.8.4<p>04/09/2019</p></th>
      <td class="govuk-table__cell ">
        <p>Alpha - Stopped version 13/09/2019</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="1-8-4/period-end">Email distribution</a> UX / UI update</li>
          <li><a href="1-8-4/dashboard">Dashboard</a> design update</li>
          <li><a href="1-8-4/rule-validation-search.html">Rule validation</a> design added</li>
        </ul>
      </td>
      <td class="govuk-table__cell "><a href="#">Contents</a></td>
      <td class="govuk-table__cell "><a href="1-8-4/dashboard.html">Start now</a></td>
    </tr>

    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Ready Salted 1.8.3<p>04/09/2019</p></th>
          <td class="govuk-table__cell ">
              <p>Alpha - in progress 04/09/2019</p>
              <ul class="govuk-list govuk-list--bullet">

                  <li><a href="1-8-3/dashboard">New submissions</a> for providers per period</li>
                  <li><a href="1-8-3/dashboard">Dashboard</a> design update</li>

                </ul>
          </td>
          <td class="govuk-table__cell "><a href="#">Contents</a></td>
          <td class="govuk-table__cell "><a href="1-8-3/dashboard.html">Start now</a></td>
      </tr>

     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.8.2<p>19/07/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - in progress 19/07/2019</p>
             <ul class="govuk-list govuk-list--bullet">

                <li><a href="1-8-2/period-end">Failed submissions</a> removed multiselect and single select toggle</li>
                <li><a href="1-8-2/period-end">Reference data jobs</a> updated design to stay on the page</li>

              </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-8-2/dashboard.html">Start now</a></td>
     </tr>
     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.8.1<p>17/07/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - in progress 17/07/2019</p>
             <ul class="govuk-list govuk-list--bullet">

              <li><a href="1-8-1/period-end-part-2">Period end</a> design iteration</li>
              <li><a href="1-8-1/period-end">Failed submissions</a> added select all button</li>
              <li><a href="1-8-1/period-end">Failed submissions</a> file name and failed description</li>



             </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-8-1/dashboard.html">Start now</a></td>
     </tr>

     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.8.0<p>10/07/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - in progress 10/07/2019</p>
             <ul class="govuk-list govuk-list--bullet">

              <li><a href="1-8-0/period-end">Failed submissions</a> added select all button</li>
              <li><a href="1-8-0/period-end">Failed submissions</a> file name and failed description</li>


             </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-8-0/dashboard.html">Start now</a></td>
     </tr>

     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.7.0<p>27/06/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - in progress 27/06/2019</p>
             <ul class="govuk-list govuk-list--bullet">

              <li><a href="1-7-0/period-end">Period end</a> design iterations</li>
              <li><a href="1-7-0/dashboard">Sign in</a> details added</li>

             </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-7-0/dashboard.html">Start now</a></td>
     </tr>

     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.6.0<p>12/06/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - in progress 12/06/2019</p>
             <ul class="govuk-list govuk-list--bullet">

                 <li><a href="1-6-0/upload-reports">QAR/FRM reports</a> added</li>
                 <li><a href="1-6-0/rollover-assignments">Rollover assignments</a> added</li>
                 <li><a href="1-6-0/record-number-displayed">Record number displayed</a> added</li>
                 <li>Mobile design improvements</li>
                 <li><a href="1-6-0/notifications">Notifications</a> updated</li>

             </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-6-0/dashboard.html">Start now</a></td>
     </tr>

     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.5.0<p>25/04/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - in progress 25/04/2019</p>
             <ul class="govuk-list govuk-list--bullet">

                 <li>Updates on <a href="1-5-0/period-end.html">period end</a></li>
                 <li><a href="1-5-0/jobs-processing.html">Jobs processing</a> now added</li>
                 <li><a href="1-5-0/advanced-search-v2">Advanced search tweaks</a></li>

             </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-5-0/dashboard.html">Start now</a></td>
     </tr>

     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.4.0<p>25/04/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - in progress 25/04/2019</p>
             <ul class="govuk-list govuk-list--bullet">

                 <li><a href="1-4-0/period-end.html">Added period end</a></li>
                 <li><a href="1-4-0/dashboard.html"></a>Dials now have links above</li>
                 <li><a href="1-4-0/advanced-search-v2">Advanced search</a> added</li>

             </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-4-0/dashboard.html">Start now</a></td>
     </tr>

     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.3.0<p>11/03/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - in progress 11/03/2019</p>
             <ul class="govuk-list govuk-list--bullet">

                 <li><a href="1-3-0/dashboard.html">Added graphs to home page</a></li>
                 <li><a href="#"></a>More lower level pages added</li>
                 <!-- <li><a href="#"></a></li> -->
             </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-3-0/dashboard.html">Start now</a></td>
     </tr>

     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.2.0<p>18/02/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - in progress 18/02/2019</p>
             <ul class="govuk-list govuk-list--bullet">

                 <li><a href="1-2-0/dashboard.html">Added graphs to home page</a></li>
                 <li><a href="#"></a>More lower level pages added</li>
                 <!-- <li><a href="#"></a></li> -->
             </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-2-0/dashboard.html">Start now</a></td>
     </tr>


     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.1.0<p>04/02/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - in progress 11/02/2019</p>
             <ul class="govuk-list govuk-list--bullet">

                 <li><a href="1-1-0/dashboard.html">Added graphs to home page</a></li>
                 <li><a href="#"></a>More lower level pages added</li>
                 <!-- <li><a href="#"></a></li> -->
             </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-1-0/dashboard.html">Start now</a></td>
     </tr>


     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.0.0<p>15/01/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - do not use 18/01/2019</p>
             <!-- <ul class="govuk-list govuk-list--bullet">

                 <li><a href="#"></a></li>
                 <li><a href="#"></a></li>
                 <li><a href="#"></a></li>
             </ul> -->
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-0-0/dashboard.html">Start now</a></td>
     </tr>




   </tbody>
 </table>
    </div>
  </div>
{% endblock %}
