{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}

<!-- <script src="/public/javascripts/tt.js"></script> -->

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="period-end-dashboard">Period end</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="email-dist">Email distribution</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-emails">Manage emails</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Edit emails</li>
  </ol>
</div>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Edit - Period end started email</h1>
    <!-- <p><a class="govuk-button govuk-button--secondary" href="new-mailing-list">Add a new mailing list</a></p> -->
  </div>
  <div class="govuk-grid-column-one-third">
    <a class="govuk-button govuk-button--warning" href="remove-email-template">Delete template</a>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Template ID
        </label>
        <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text" value="644e1dd7-2a7f-18fb-b8ed-ed78c3f92c2b">
      </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Email Trigger point
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="published" selected>Reference data jobs</option>
        <option value="updated">Summarisation</option>
        <option value="views">DAS period end</option>
        <option value="all">Apps summarisation</option>

      </select>
    </div>

    <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Select mailing list
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="published" selected>DCT</option>
          <option value="updated">Management</option>
          <option value="views">Apprenticeships</option>
          <option value="all">All</option>

        </select>
      </div>






    <a href="manage-emails-edited" class="govuk-button" data-module="govuk-button">
      Save and continue
    </a>

  </div>
</div>












{% endblock %}
