{% extends "layout.html" %}

{% block pageTitle %}
  DC Operations
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}

<!-- <script src="/public/javascripts/tt.js"></script> -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="period-end-dashboard">Period end</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">NCS</li>
  </ol>
</div>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">NCS - Period end preparation
    <span class="govuk-caption-l">N12 open until 22 March 2020 18:05
      <!-- <a href="manage-R06">Close collection</a> -->
    </span>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <ul class="govuk-list">

      <li>
        <div class="flex"><a href="ncs-period-end-reports" class="govuk-link ">Reports </a></div>
      </li>
      <li>
        <a href="ncs-period-end-history" class="govuk-link">History</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <div class="flex space-between">
      <h2 class="govuk-heading-m">Failed submissions</h2>
    </div>

    <div id="govukPanel" class="govuk-panel govuk-panel--confirmation hidden">
      <h1 class="govuk-panel__title govuk-!-font-size-27">
        ILR files resubmitted
      </h1>
    </div>

    <div class="main-card ilr eas">
      <div class="flex govuk-!-margin-bottom-2">
        <strong class="govuk-link govuk-!-font-size-19 provider-title ">10000536 - BARNSLEY COLLEGE</strong>
      </div>
      <div class="govuk-body">
        <div class="flex space-between govuk-!-margin-bottom-2">
          <!-- <a href="#">Hide from list</a> -->
          <span class="hidden-tag">Hidden file</span>
        </div>
        <div class="flex space-between">
          <span>NCS1920</span>
        </div>
        <div class="flex space-between">
          <span class="govuk-!-font-size-16">NCS-10000536-1920-20200305-115650-01.XML </span>  <span class="govuk-!-font-size-16">5 Mar 2020, 13:25</span>
        </div>
        <hr class="secondary-divider">
      </div>
    </div>
    <div class="main-card ilr eas">
      <div class="flex govuk-!-margin-bottom-2">
        <strong class="govuk-link govuk-!-font-size-19 provider-title ">10001115 - CAMBRIDGE PROFESSIONAL ACADEMY LIMITED</strong>
      </div>
      <div class="govuk-body">
        <div class="flex space-between govuk-!-margin-bottom-2">
          <!-- <a href="#">Hide from list</a> -->
          <span class="hidden-tag">Hidden file</span>
        </div>
        <div class="flex space-between">
          <span>NCS1920</span>
        </div>
        <div class="flex space-between">
          <span class="govuk-!-font-size-16">NCS-10001115-1920-20200305-130113-01.XML </span>  <span class="govuk-!-font-size-16">22 April 2019 at 11.19</span>
        </div>
        <hr class="secondary-divider">
      </div>
    </div>
    <div class="main-card ilr eas">
      <div class="flex govuk-!-margin-bottom-2">
        <strong class="govuk-link govuk-!-font-size-19 provider-title ">10001174 - CT SKILLS LIMITED</strong>
      </div>
      <div class="govuk-body">
        <div class="flex space-between govuk-!-margin-bottom-2">
          <!-- <a href="#">Hide from list</a> -->
          <span class="hidden-tag">Hidden file</span>
        </div>
        <div class="flex space-between">
          <span>NCS1920</span>
        </div>
        <div class="flex space-between">
          <span class="govuk-!-font-size-16">NCS-10001174-1920-20200305-125516-01.XML</span>  <span class="govuk-!-font-size-16">22 April 2019 at 11.19</span>
        </div>
        <hr class="secondary-divider">
      </div>
    </div>
    <div class="main-card ilr eas">
      <div class="flex govuk-!-margin-bottom-2">
        <strong class="govuk-link govuk-!-font-size-19 provider-title ">10002979 - HEATHERCROFT TRAINING SERVICES LIMITED</strong>
      </div>
      <div class="govuk-body">
        <div class="flex space-between govuk-!-margin-bottom-2">
          <!-- <a href="#">Hide from list</a> -->
          <span class="hidden-tag">Hidden file</span>
        </div>
        <div class="flex space-between">
          <span>NCS1920</span>
        </div>
        <div class="flex space-between">
          <span class="govuk-!-font-size-16">NCS-10002979-1920-20200305-130349-01.ZIP</span>  <span class="govuk-!-font-size-16">22 April 2019 at 11.19</span>
        </div>
        <hr class="secondary-divider">
      </div>
    </div>










    <!-- <h2 class="govuk-heading-m">Reference data jobs</h2>

    <a href="#" class="govuk-button" id="pause-all-jobs">
      Pause reference data jobs
    </a>
    <div class="confirm-pause">
      <h3 class="govuk-heading-s">Are you sure?</h3>

      <p>These reference data jobs can’t be resumed until the period end process is complete.</p>

      <p><a href="#"  class="govuk-button yes-pause">Yes, pause jobs</a>&nbsp &nbsp &nbsp<a href="period-end" class="govuk-link cancel-pause">Cancel</a></p>
      <!-- <a href="referece-data-confirmation"  class="govuk-button">Yes, pause jobs</a>

    </div>

    <div class="govuk-panel govuk-panel--confirmation pause-confirmation">
      <h1 class="govuk-panel__title govuk-!-font-size-27">
        All reference data jobs have been paused
      </h1>
    </div>

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">

          <th class="govuk-table__header" scope="col">Job</th>
          <th class="govuk-table__header" scope="col">Status</th>



        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">DAS - Levy account</td>
          <td class="govuk-table__cell paused-job">Next due: 18.45</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">ESF – contracts</td>
          <td class="govuk-table__cell paused-job">Next due: 18.08</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">FCS Contracts Data</td>
          <td class="govuk-table__cell paused-job"><strong>Running now...</strong></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">EPA reference Data</td>
          <td class="govuk-table__cell paused-job">Next due: 19.00</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">DCSummarisation 18-19 Process Daily</td>
          <td class="govuk-table__cell paused-job">Next due: 19.01</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Postcode – PCA</td>
          <td class="govuk-table__cell paused-job"><strong>Running now...</strong></td>
        </tr>

      </tbody>
    </table> -->
<div>
    <a class="govuk-button enable-continue" id="NCSsendCollectionClosedEmail">
      Send collection closed email
    </a>
</div>
    <a class="govuk-button govuk-button--disabled show-continue" id="NCSperiodEndContinue" data-module="govuk-button">
      Continue
    </a



  </div>
</div>








{% endblock %}
